.flat-green-background{
	background-color: #16a085 !important;
}

.flat-green-light-background {
	background-color: #1abc9c !important;
}

.flat-green-light-background:hover {
	border-color: #0A9A7D;
}

.flat-blue-background{
    background-color:#3498db !important;
}

.flat-blue-background:hover{
    background-color: #2980b9 !important;
}
.btn-white {
    color: white;
}
.btn-white:hover{
    color: whitesmoke;
}
.btn-white:focus{
    color: whitesmoke;
}

.white {
    color: white !important;
}

.red {
    color: red;
}

.green {
    color: green;
}